/* Fixes the initial browser s style */
 * {
    margin: 0;
    padding: 0;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* GENERAL STYLES */
 body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
}
h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 20px 0px;
    letter-spacing: 4px;
}
p + p {
    text-indent: 40px;
    margin-top: 20px;
}
img {
    margin-bottom: -5px;
}
/* COLORS */
/* Background color page */
 html, #xtra {
    background-color: black;
}
/* CHANGE MAIN BACKGROUND COLOR – NOW GREY */
header, #precis, [type=radio]:checked ~ label {
    background-color: rgb(197, 203, 204);
}
/* CHANGE COMPLEMENTARY COLOR – NOW BLUE */
footer, .credits, #transcription-button button, #citation-button button {
    background-color: rgb(45, 53, 116);
}
/* CHANGE COMPLEMENTARY COLOR – NOW WHITE */
#chapters, .tabs .content, #transcription-container, #language-button select, #transcription, #footer_slide {
    background-color: white;
}
/* FONTS COLORS */
/* MAIN COLOR: NOW BLACK */
body, #precis, #footer_slide {
    color: black;
}
/* COMPLEMENTARY COLOR: NOW WHITE */
#transcription-line, #citation-button button, #transcription-button button, #xtra, footer {
    color: white;
}
/* MOUSE OVER */
#transcription span:hover, .chapter-title:hover {
    color: rgb(45, 53, 116);
}
/* COLOR UNDERLINING */
#transcription span.active {
    border-bottom: 4px solid rgb(45, 53, 116);
}
/* LINKS COLORS & STYLE */
a, a:visited, a:hover, a:focus {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid white;
}
#chapters a, #chapters a:visited {
    color: black;
    text-decoration: none;
}
#xtra a, #xtra a:visited, #xtra a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}
footer a, footer a:visited, footer a:hover {
    color: white;
}
#footer_slide a, #footer_slide a:visited, #footer_slide a:hover {
    color: black;
    border-bottom: 2px solid black;
}

/* HEADER */

/* HEADER FIRST ROW*/
header {
    width: 100%;
    padding: 0px;
}
.title {
    padding: 10px 6px 6px 15px;
    width: 100%;
    display: inline-block;
    height: auto;
    border-bottom: 8px solid white;
    font-size: 22px;
    letter-spacing: 1px;
}
.title-HLP {
    float: left;
    margin-right: 20px;
}
.title-HLP:after {
    content:'|';
    margin-left: 20px;
}
.title-lecture {
    text-transform: uppercase;
}

/* HEADER SECOND ROW*/
/* HEIGHT*/
.tabs {
    height: 150px;
}
#precis {
    height: 193px;
    /* height tabs + 45px*/
}
/* TABS */
.tabs {
    position: relative;
    clear: both;
    margin: 27px 0px 0px;
}
.tabs .content {
    position: absolute;
    top: 0px;
    left: -15px;
    right: 0;
    bottom: 0;
    padding: 12px;
    overflow-y: scroll;
}
.tab {
    float: left;
}
.tab label {
    padding: 10px;
    margin-left: 0px;
    position: relative;
    left: 1px;
    top: -25px;
}
.tab[type=radio] {
    display: none;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
#chapters {
    width: 70%;
    float: left;
    padding: 10px 6px 6px 15px;
    display:inline-block;
    height: auto;
    cursor: pointer;
    border-right: 8px solid white;
}
.play-button {
    font-size: 70%;
    vertical-align: 15%;
}
.chapter-title {
    float: left;
    margin: 0px 25px 0px 0px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}
/* DESCRIPTION OF THE CHAPTERS / SECTIONS */
#precis {
    width: 30%;
    float: left;
    padding: 10px 6px 5px 15px;
}
/* MAIN BOXES: SLIDES + VIDEO + TRANSCRIPTION + ADDITIONAL MATERIALS */
 article {
    width: 100%;
    padding: 0px;
    border-top: 8px solid white;
    display: inline-block;
    margin-bottom: -7px;
}
/* SLIDES */
 #left-column {
    width: 50%;
    height:40vw;
    float: left;
    border:0;
}
#slide-container img {
    max-width: 100%;
    max-height: 40vw;
    display: block;
    margin: auto;
}
/* VIDEO */
 #right-column {
    width: 50%;
    height:40vw;
    float: left;
    border-left: 8px solid white;
    margin-bottom: -1px;
}
#player {
    margin: 0px 0px;
}
#video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
#video-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* SUBTITLES */
#transcription-line {
    float: left;
    width: 80%;
    height: 120px;
    font-size: 12px;
    /* old */
    font-size: 1.8vm;
    /* IE9 */
    font-size: 1.8vw;
    line-height: 115%;
    padding: 15px;
    text-align: left;
}
#citation-button {
    margin-top: 3%;
    float: left;
    width: 15%;
}
#citation-button button {
    padding: 5px;
    border: 0;
    width: 100%;
    font-size: 60%;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}
#language-button {
    margin-top: 1%;
    float: left;
    width: 15%;
}
#language-button select {
    border: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    width: 100%;
    font-size: 60%;
    padding: 5px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#language-button select:active, #language-button select:focus {
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}
option.head {
    selected: selected;
    display: none;
    disabled: disabled;
}
/* TRANSCRIPTION TEXT */
 #transcription-container {
    float: left;
    width: 65%;
}
#transcription-button {
    margin: 2% 5%;
}
#transcription-button button {
    padding: 5px;
    margin: 10px 10px 0 0;
    font-weight: bold;
    border: 0;
    font-size: 60%;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}
#transcription {
    height: 300px;
    overflow-y: scroll;
    display:inline-block;
    padding: 2% 5%;
    margin-top: 0px;
    margin-bottom: -8px;
}
#transcription span:hover {
    cursor: pointer;
}
.git-hub-readme h4 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
}
.git-hub-readme code, .git-hub-readme pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* ADDITIONAL MATERIALS */
#xtra {
    width: 35%;
    padding: 10px 6px 5px 15px;
    height: 300px;
    border-top: 8px solid white;
    float: left;
}
#xtra iframe {
    width:100%;
    height:100%;
}
/* FOOTER */
footer {
    float: left;
    width: 100%;
    height: 100px;
    clear: both;
    border-top: 8px solid white;
}
.credits {
    padding: 20px;
}
#footer_slide {
    display: none;
    width: 100%;
    padding: 20px;
}

/* RESPONSIVE STYLESHEET */
@media screen and (min-width:540px) and (max-width:940px) {
    body {
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
    #left-column {
        height:43vw;
    }
    #right-column {
        height:43vw;
    }
    #transcription-line {
        float: left;
        width: 100%;
        height: 5vw;
        font-size: 12px;
        /* old */
        font-size: 2vm;
        /* IE9 */
        font-size: 2vw;
        line-height: 115%;
        padding: 5px 15px;
        text-align: left;
    }
    #citation-button {
        width: 125px;
        margin-top: 5px;
        margin-left: 5%;
    }
    #citation-button button {
        margin-bottom: 5px;
        font-size: 10px;
    }
    #language-button {
        margin: 2% 5%;
        float: left;
        width: 80px;
        margin-top: 5px;
    }
    #language-button select {
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }
    #transcription-button button {
        padding: 5px;
        font-size: 12px;
    }
}
@media screen and (min-width:250px) and (max-width:540px) {
    body {
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
    #chapters {
        display: none;
    }
    #precis {
        display: none;
    }
    #citation-button {
        width: 125px;
        margin-top: 17px;
        margin-left: 5%;
    }
    #citation-button button {
        margin-bottom: 17px;
        font-size: 12px;
    }
    #language-button {
        margin: 2% 5%;
        float: left;
        width: 80px;
        margin-top: 17px;
    }
    #language-button select {
        width: 100%;
        font-size: 12px;
        padding: 5px;
    }
    #left-column {
        width: 100%;
        float: none;
        border:0;
        border-right:0;
        margin-right: 0px;
    }
    #right-column {
        width: 100%;
        float: none;
        border-left: 0px;
        border-top: 8px solid white;
    }
    #transcription-line {
        width: 100%;
        height: 70px;
        font-size: 4.7vw;
    }
    #transcription-container {
        width: 100%;
    }
    #transcription-button {
        margin: 2% 5%;
    }
    #transcription-button button {
        padding: 5px;
        font-size: 12px;
    }
    #xtra {
        display: none;
    }
}

/* PRINT STYLESHEET */
@media print {
    header, nav, #left-column, #right-column, #transcription-button, #xtra, footer {
        display: none;
    }
    html, body, article, #content {
        height: auto;
        font-size: 15px;
        line-height: 20px;
        background-color: transparent;
    }
    h3 {
        font-size: 20px;
    }
    .title-lecture-print {
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        margin: 15px 15px 0 15px;
    }
    article, #content, #transcription-container, #transcription {
        display: inline;
    }
    #content {
        background-color: transparent;
    }
    #transcription-container {
        width: 80%;
        margin: 20px;
    }
    #transcription-container img {
        width: 500px;
        margin: 30px 0px;
        -webkit-column-break-inside: avoid;
        /* Chrome, Safari, Opera */
        page-break-inside: avoid;
        /* Firefox */
        break-inside: avoid;
        /* IE 10+ */
    }
    #transcription-button {
        display: none;
    }
    #transcription {
        height: auto;
        overflow-y: visible;
        background-color: transparent;
        color: black;
        width: 80%;
    }
    #transcription span.active {
        border-bottom: 0px;
    }
    #transcription span:hover {
        color: black;
    }
}
@page {
    margin: 1cm;
}
@media screen {
    .print-only {
        display: none;
    }
    .git-hub-readme img {
        display: none;
    }
}