/* Fixes the initial browser s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	line-height: 24px;
	letter-spacing: 1px;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 0px;
	letter-spacing: 4px;
}

p + p {
	text-indent: 40px;
	margin-top: 20px;
}
img {
	margin-bottom: -5px;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/* HEADER */

#header {
	width: 100%;
	padding: 0px;
	background-color: rgb(240, 20, 50);
	color: black;
}

.title {
	padding: 10px 6px 6px 15px;
	width: 100%;
	display: inline-block;
	height: auto;
	border-bottom: 8px solid white;
	font-size: 22px;
	letter-spacing: 1px;
}
.title-HLP {
	float: left;
	margin-right: 20px;
}
.title-HLP:after {
	content: '|';
	margin-left: 20px;
}
.title-lecture {
	color: black;
	text-transform: uppercase;
}
#chapters {
	width: 70%;
	float: left;
	padding: 10px 6px 6px 15px;
	display:inline-block;
	height: auto;
	cursor: pointer;
	background-color: rgb(240, 20, 50);
	border-right: 8px solid white;
}
#chapters a, #chapters a:visited {
	color: black;
	text-decoration: none;
}
.play-button {
	font-size: 70%;
	vertical-align: 15%;
}
.chapter-title {
	float: left;
	margin: 0px 25px 0px 0px;
	color: black;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
}
.chapter-title:hover {
	color: white;
}
#precis {
	width: 30%;
	float: left;
	color: white;
	background-color: rgb(0, 0, 0);
	height: 100%;
	padding: 10px 6px 5px 15px;
}

/* MAIN */

article {
	padding: 0px;
}

/* SLIDES + VIDEO */

#content {
	background-color: #000;
	width: 100%;
	padding: 0px;
	border-top: 8px solid white;
	display: inline-block;
	margin-bottom: -7px;
}

/* SLIDES */
#left-column {
	width: 50%;
	height:40vw;
	float: left;
	border:0;
}
#slide-container img {
	width: 100%;
	max-height: 40vw;
}
/* VIDEO */
#right-column {
	width: 50%;
	height:40vw;
	float: left;
	border-left: 8px solid white;
	margin-bottom: -1px;
}
#player {
	margin: 0px 0px;
}
#video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
#video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* SUBTITLES */
#transcription-line {
	float: left;
	width: 80%;
	height: 120px;
	font-size: 12px;    /* old */
  	font-size: 1.8vm;   /* IE9 */
  	font-size: 1.8vw;
	line-height: 115%;
	padding: 15px;
	text-align: left;
	color: white;
}

#citation-button {
	margin-top: 3%;
	float: left;
	width: 15%;
}
#citation-button button {
	padding: 5px;
    background-color: rgb(240, 20, 50);
    color: white;
    border: 0;
	width: 100%;
	font-size: 60%;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}
#language-button {
	margin-top: 3%;
	float: left;
	width: 15%;
}
#language-button select {
	border: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
	width: 100%;
	font-size: 60%;
	text-transform: uppercase;
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
	background-color: white;
}
#language-button select:active, #language-button select:focus {
	outline: 0;
}
input::-moz-focus-inner { 
  border: 0; 
}

option.head {
    selected: selected;
    display: none;
    disabled: disabled;
}

/* TRANSCRIPTION TEXT */
#transcription-container {
	float: left;
	width: 65%;
	background-color: white;
}
#transcription-button {
	margin: 2% 5%;
}
#transcription-button button {
	padding: 5px;
	margin: 10px 10px 0 0;
    background-color: rgb(45, 53, 116);
    color: white;
	font-weight: bold;
    border: 0;
	font-size: 60%;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}

#transcription {
	height: 300px;
	overflow-y: scroll;
	display:inline-block;
	padding: 2% 5%;
	background-color: white;
	color: black;
	margin-top: 0px;
	margin-bottom: -8px;
}
#transcription span.active {
	border-bottom: 4px solid red;
}
#transcription span:hover {
	color: red;
	cursor: pointer;
}

/* XTRA */
#xtra {
	width: 35%;
	color: white;
	padding: 10px 6px 5px 15px;
	height: 300px;
	border-top: 8px solid white;
}
#xtra iframe {
	width:100%;
	height:100%;
}

#footer {
	float: left;
	width: 100%;
	height: 100px;
	padding: 20px;
	clear: both;
	background-color: rgb(45, 53, 116);
	border-top: 8px solid white;
}


@media (min-width:250px) and (max-width:540px) {
	#left-column{
		width: 100%;
		float: none;
		border:0;
		border-right:0;
		margin-right: 0px;
	}
	#right-column {
		width: 100%;
		float: none;
		border-left: 0px;
		border-top: 8px solid white;
	}
	#transcription-line {
		width: 100%;
		height: 70px;
		font-size: 4.7vw;
	}
	#transcription {
		width: 100%;
	}
	body {
		font-size: 16px;
	}
	h3 {
		font-size: 20px;
	}
}

