/* Fixes the initial browser s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	line-height: 24px;
	letter-spacing: 1px;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 0px;
	letter-spacing: 4px;
}

p + p {
	text-indent: 40px;
	margin-top: 20px;
}
img {
	margin-bottom: -5px;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/* HEADER */

#header {
	width: 100%;
	padding: 0px;
	background-color: rgb(230, 24, 30);
	color: black;
}

.title {
	padding: 10px 6px 5px 15px;
	width: 100%;
	display: inline-block;
	height: auto;
	border-bottom: 8px solid white;
	font-size: 24px;
	letter-spacing: 1px;
}

#chapters {
	width: 80%;
	float: left;
	padding: 10px 6px 5px 15px;
	display:inline-block;
	height: auto;
	cursor: pointer;
	background-color: rgb(230, 24, 30);
	border-right: 8px solid white;
}

#precis {
	width: 20%;
	float: left;
	color: rgb(230, 24, 30);
	background-color: rgb(0, 0, 0);
	height: 100%;
	padding: 10px 6px 5px 15px;
}

.chapter-title:hover {
	color: white;
}

#chapters a, #chapters a:visited {
	color: black;
	text-decoration: none;
}

.chapter-title {
	float: left;
	margin: 0px 40px 0px 0px;
	color: black;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1px;
}

.title-lecture {
	margin: 0px 40px 0px 0px;
	color: black;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1px;
}

.chapter-title:before {
	content: &#9658; ;
	font-size: 18px;
	vertical-align: 3px;
}

/* MAIN */

article {
	padding: 0px;
}

/* SLIDES + VIDEO */

#content {
	background-color: #000;
	width: 100%;
	padding: 0px;
	border-bottom: 8px solid white;
	border-top: 8px solid white;
	display: inline-block;
	margin-bottom: -6px;
}

/* SLIDES */
#left-column{
	width: 50%;
	float: left;
	border:0;
	border-right: 8px solid white;
	margin-right: -7px;
}
#slide-container img{
	width: 100%;
}
/* VIDEO */
#right-column {
	width: 50%;
	float: left;
	border-left: 8px solid white;
	margin-bottom: -1px;
}
#player {
	margin: 0px 0px;
}
#video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
#video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* SUBTITLES */
#transcription-line {
	float: left;
	width: 80%;
	height: 120px;
	font-size: 2.1vw;
	line-height: 115%;
	padding: 15px;
	text-align: left;
	color: white;
}

#citation-button {
	margin-top: 20px;
	float: left;
	width: 20%;
}

/* TRANSCRIPTION TEXT */

#transcription {
	float: left;
	width: 65%;
	height: 300px;
	overflow-y: scroll;
	display:inline-block;
	padding: 2% 5%;
	background-color: white;
	color: black;
	margin-top: -4px;
	margin-bottom: -8px;
}

#transcription span.active {
	border-bottom: 4px solid red;
}

#transcription span:hover {
	color: red;
	cursor: pointer;
}

#footer {
	float: left;
	width: 100%;
	height: 100px;
	padding: 20px;
	clear: both;
	background-color: darkblue;
	border-top: 8px solid white;
}

/* XTRA */
#xtra {
	width: 35%;
	float: right;
	color: #FFFFFF;
	padding: 10px 6px 5px 15px;
}

@media (min-width:250px) and (max-width:540px) {
	#left-column{
		width: 100%;
		float: none;
		border:0;
		border-right:0;
		margin-right: 0px;
	}
	#right-column {
		width: 100%;
		float: none;
		border-left: 0px;
		border-top: 8px solid white;
	}
	#transcription-line {
		width: 100%;
		height: 70px;
		font-size: 4.7vw;
	}
	#transcription {
		width: 100%;
	}
	body {
		font-size: 16px;
	}
	h3 {
		font-size: 20px;
	}
}

