/* Fixes the initial browserâs style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #333;
    color: #efefef;
	font-family: sans-serif;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

#header {
	background-color: red;
	width: 100%;
	padding: 20px;
	display:inline-block;
	height: auto;
}
article {
	padding: 0px;
}
#content {
	background-color: #000;
	width: 100%;
	margin: -4px;
	padding: 0px;
	border-bottom: 8px solid white;
	border-top: 8px solid white;
}

#left-column{
	width: 50%;
	float: left;
	border-right: 8px solid white;
	margin-bottom: -1px;
}

#slide-container img{
	width: 100%;
}

#right-column {
	width: 50%;
	float: right;
}

.youtube iframe {

}

#player {
	margin: 20px 20px;
}
#transcription-line {
	width: 640px;
	font-size: 130%;
	padding: 20px;
	text-align: center;
}
#transcription span.active {
	background-color: #859cbf;
}
.chapter-title {
	float: left;
	margin: 0 10px;
	color: #ff8400;
	text-transform: uppercase;
	font-size: 1.5em;
}
#transcription {
	width: 100%;
	display:inline-block;
	padding: 20px;
}

#footer {
	float: left;
	width: 100%;
	height: 200px;
	clear: both;
	background-color: #666;
}


